<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Krerkkiat Chusap" />
  <link rel="manifest" href="/site.webmanifest" />

  <link rel="stylesheet" href="/css/bulma.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://kit.fontawesome.com/b76b43162d.js" crossorigin="anonymous"></script>

  <title>Krerkkiat Chusap</title>
  {% block head %}{% endblock %}
</head>

<body x-data="theme">
  <button @click="toggleTheme" style="position: fixed; top: 3%; right: 5%; z-index: 50;">
    <i x-show="isLightTheme" class="fa-solid fa-moon is-size-3 p-2"></i>
    <i x-show="!isLightTheme" class="fa-solid fa-sun is-size-3 p-2"></i>
  </button>
  <section class="section">
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </section>
  {% block raw_body %}{% endblock %}

  <script>
    document.addEventListener("alpine:init", () => {
      // Detect existing dark theme and assign proper `data-theme` to the `html` tag.
      const topLevelTag = document.getElementsByTagName("html")[0];
      let detectedTheme = "";
      if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        topLevelTag.setAttribute("data-theme", "dark");
        detectedTheme = "dark";
      } else {
        topLevelTag.setAttribute("data-theme", "light");
        detectedTheme = "light";
      }

      Alpine.data("theme", () => ({
        isLightTheme: detectedTheme === "light",
        toggleTheme() {
          this.isLightTheme = !this.isLightTheme;
          const topLevelTag = document.getElementsByTagName("html")[0];
          topLevelTag.setAttribute("data-theme", this.isLightTheme ? "light" : "dark");
        }
      }));
    });
  </script>
</body>

</html>