{% extends "base.html" %}

{% block content %}
<h1 class="title is-2">
  Krerkkiat Chusap
</h1>

<h2 class="title is-3">
  About
</h2>
<p>
  He is a graduate student at
  <a href="https://www.ohio.edu" target="_blank">Ohio University</a>.
  He manages to spend more running
  <a href="https://tsaou.page" target="_blank">
    OU Thai Student Association's website
  </a>
  on its own domain (he should just use Linktree). He thought it was fun
  to help run a conference and also live debugging production codebase for
  said conference. He loves to spend months automate task that only takes
  few hours.
</p>
{% endblock %}