{% extends "base.html" %}

{% block content %}
<section class="hero is-medium">
  <div class="hero-body">
    {% set image = resize_image(path='static/imgs/profile-pic.png', width=100, op='fit_width') %}
    <img src="{{ image.url }}" />
    <p class="title">Krerkkiat Chusap</p>
    <p class="subtitle">A Ph.D student studying robustness of reinforcement learning (RL) algorithms at <a
        href="https://www.ohio.edu" target="_blank">Ohio University</a></p>
  </div>
</section>
{% endblock %}

{% block raw_body %}
<section class="section">
  <div class="columns">
    <div class="column is-half">
      <div class="container">
        <h2 class="title is-3">Posts</h2>
        <p class="block mt-4">Want to hear my recent stories and random toughts?</p>
        <ul class="block mt-3">
          {% set blogs = get_section(path="blog/_index.md") %}
          {% for page in blogs.pages | slice(end=5) %}
          <li><span>{{ page.date }}</span> <a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
        <a href="{{ get_url(path='blog') }}">view all ...</a>
      </div>
    </div>
    <div class="column is-half">
      <div class="container">
        <h2 class="title is-3">Apps</h2>
        <p class="block mt-4">Some are self-built. Some are just me hosting them to see how they work.</p>
        <ul class="block mt-3">
          <li><a href="{{ get_url(path='apps/create-password', trailing_slash=true) }}">Password Generator</a></li>
          <li><a href="{{ get_url(path='apps/term', trailing_slash=true) }}">Terminal</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-four-fifths">
      <div class="container">
        <h2 class="title is-3">About</h2>
        <p class="block mt-4">He is a Ph.D student at
          <a href="https://www.ohio.edu" target="_blank">Ohio University</a>.
          He manages to spend more running
          <a href="https://tsaou.page" target="_blank">
            OU Thai Student Association's website
          </a>
          on its own domain (he should just use Linktree). He thought it was fun
          to help run a conference and also live debugging production codebase for
          said conference. He loves to spend months automate task that only takes
          few hours.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}